@model PayrollVM

@{
    ViewData["Title"] = "Payroll";
}

<header class="d-flex align-items-center justify-content-between bg-white p-3 shadow-sm">
    <div class="d-flex gap-2">
        <span class="bg-info p-2 rounded"><i class="bi bi-currency-pound text-light"></i></span>
        <h3 class="text-dark">Payroll</h3>
    </div>
    <div>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#formModal">
            Create
        </button>
    </div>
</header>
<br />
