@model int

@{
    ViewData["Title"] = "My Leave";

}

<header class="d-flex gap-5 align-items-center justify-content-between bg-white p-3 shadow-sm">
    <div class="d-flex gap-2">
        <span class="bg-success p-2 rounded"><i class="bi bi-x-diamond-fill text-light"></i></span>
        <h3 class="text-dark">My Leave</h3>
    </div>
    <div class="w-50">
        <form role="search">
            <div class="input-group">
                <input class="form-control" name="searchString" value="@ViewData["CurrentFilter"]" type="search" placeholder="Search" aria-label="Search" aria-describedby="addon" style="border-radius: 15px 0 0 15px">
                <button class="btn btn-light input-group-text" id="addon" type="submit" style="border-radius: 0 15px 15px 0"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>
    <a asp-action="Create" class="btn btn-outline-primary">Create</a>
</header>

<br />
<br />

<div id="requests">
    <div class="row">
        <div class="col-8">
            <table id="tblData" class="table table-hover border rounded bg-white">
                <thead>
                    <tr>
                        <th>
                            <a class="page-link disabled">Start Date <i class="bi bi-sort-up"></i></a>
                        </th>
                        <th>
                            End Date
                        </th>
                        <th>
                            <a class="page-link disabled">Leave Type <i class="bi bi-sort-alpha-down"></i></a>
                        </th>
                        <th>
                            <a class="page-link disabled">Date Requested <i class="bi bi-sort-up"></i></a>
                        </th>
                        <th>
                            Approval Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </td>               
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table id="tblData" class="table table-hover bg-white table-striped border rounded">
                <thead>
                    <tr>
                        <th>
                            Days Remaining
                        </th>
                        <th>
                            Leave Type
                        </th>
                        <th>
                            Period
                        </th>
                    </tr>
                </thead>
                <tbody>
                     <tr>
                        <td></td>
                        <td>
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </td>               
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<br />
<br />

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item disabled"><a class="page-link">Previous</a></li>

            <li class="page-item disabled"><a class="page-link">1</a></li>

        <li class="page-item disabled"><a class="page-link">Next</a></li>
    </ul>
</nav>
</div>

@section Scripts {
    <script>
        const url = '@Url.Action("LeaveRequestPartialView", new { searchString = ViewData["CurrentFilter"], sortOrder = ViewData["CurrentSort"], pageNumber = Model })';

        $("#requests").load(url, function (responseTxt, statusTxt, xhr) {
            if (xhr.status == 401) {
                top.location.href = '/users/login'
            }
        })
    </script>
}