@model CreateEmployeeDetailVM

@{
    ViewData["Title"] = "Profile";
}

<header class="d-flex align-items-center justify-content-between bg-white p-3 shadow-sm">
    <div class="d-flex gap-2">
        <span class="bg-primary p-2 rounded"><i class="bi bi-person-fill text-light"></i></span>
        <h3 class="text-dark">Profile</h3>
    </div>
</header>
<br />

<partial name="_MessagePartial" />

<section class="shadow bg-white rounded p-3">
    <form id="form" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <fieldset>
            <legend>Personal</legend>
            <div class="row">
                <div class="form-group mb-3 col-6">
                    <label asp-for="DOB" class="control-label"></label>
                    <input asp-for="DOB" class="form-control" type="date" />
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 col-6">
                    <label asp-for="PersonalEmail" class="control-label"></label>
                    <input asp-for="PersonalEmail" class="form-control" />
                    <span asp-validation-for="PersonalEmail" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="NINumber" class="control-label"></label>
                    <input asp-for="NINumber" class="form-control" />
                    <span asp-validation-for="NINumber" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="TaxCode" class="control-label"></label>
                    <input asp-for="TaxCode" class="form-control" />
                    <span asp-validation-for="TaxCode" class="text-danger"></span>
                </div>
            </div>
        </fieldset>
        <hr />
        <fieldset class="mt-3">
            <legend>Contacts</legend>
            <div class="row">
                <div class="form-group mb-3 col-6">
                    <label asp-for="MobileNumber" class="control-label"></label>
                    <input asp-for="MobileNumber" class="form-control" />
                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 col-6">
                    <label asp-for="WorkMobileNumber" class="control-label"></label>
                    <input asp-for="WorkMobileNumber" class="form-control" />
                    <span asp-validation-for="WorkMobileNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group mb-3 col-6">
                    <label asp-for="HomePhoneNumber" class="control-label"></label>
                    <input asp-for="HomePhoneNumber" class="form-control" />
                    <span asp-validation-for="HomePhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 col-6">
                    <label asp-for="WorkPhoneNumber" class="control-label"></label>
                    <input asp-for="WorkPhoneNumber" class="form-control" />
                    <span asp-validation-for="WorkPhoneNumber" class="text-danger"></span>
                </div>
            </div>
        </fieldset>
        <hr />
        <fieldset class="mt-3">
            <legend>Address</legend>
            <div class="row">
                <div class="form-group mb-3 col-6">
                    <label asp-for="Address1" class="control-label"></label>
                    <input asp-for="Address1" class="form-control" />
                    <span asp-validation-for="Address1" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 col-6">
                    <label asp-for="Address2" class="control-label"></label>
                    <input asp-for="Address2" class="form-control" />
                    <span asp-validation-for="Address2" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group mb-3 col-6">
                    <label asp-for="Town" class="control-label"></label>
                    <input asp-for="Town" class="form-control" />
                    <span asp-validation-for="Town" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 col-6">
                    <label asp-for="PostCode" class="control-label"></label>
                    <input asp-for="PostCode" class="form-control" />
                    <span asp-validation-for="PostCode" class="text-danger"></span>
                </div>
            </div>
        </fieldset>
        <hr />
        <fieldset class="mt-3">
            <legend>Account</legend>
            <div class="row">
                <div class="form-group mb-3 col-6">
                    <label asp-for="AccountName" class="control-label"></label>
                    <input asp-for="AccountName" class="form-control" />
                    <span asp-validation-for="AccountName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 col-6">
                    <label asp-for="AccountNumber" class="control-label"></label>
                    <input asp-for="AccountNumber" class="form-control" />
                    <span asp-validation-for="AccountNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group mb-3 col-6">
                    <label asp-for="SortCode" class="control-label"></label>
                    <input asp-for="SortCode" class="form-control" />
                    <span asp-validation-for="SortCode" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 col-6">
                    <label asp-for="BankName" class="control-label"></label>
                    <input asp-for="BankName" class="form-control" />
                    <span asp-validation-for="BankName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group mb-3 col-6">
                    <label asp-for="BankAddress" class="control-label"></label>
                    <input asp-for="BankAddress" class="form-control" />
                    <span asp-validation-for="BankAddress" class="text-danger"></span>
                </div>
            </div>
        </fieldset>
    </form>
</section>