@model HRLeaveManagement.MVC.Models.LoginVM

@{
    ViewData["Title"] = "Login";
}

<h1 class="text-info">Login</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input id="btnSubmit" type="submit" value="Login" class="btn btn-info" />
                <button id="spinner" class="btn btn-info" style="display: none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </form>
        
    </div>
</div>

<div class="mt-3">
    <a asp-action="Register">Dont't have an account? Register here</a>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#btnSubmit').click(function () {
                setTimeout(function () {
                    if ($('.field-validation-valid').val() === '') {
                        $('#spinner').css('display', 'block');
                        $('#btnSubmit').css('display', 'none');
                    }
                }, 50);

            });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
